body {
  font-family: "Roboto", sans-serif;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* хедер для всех */
.menu {
  display: flex;
}
.menu_list {
  margin-right: 50px;
}
.menu_list:last-child {
  margin-right: 0;
}
.webstydia {
  text-decoration: none;
  cursor: pointer;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.shit {
  color: #212121;
}

.studia {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  color: #212121;
  cursor: pointer;
}
.portfolio {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  color: #212121;
  cursor: pointer;
}
.contacs {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  color: #212121;
  cursor: pointer;
}

.bly {
  color: #2196f3;
}

.mail {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}
.telefon {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  white-space: nowrap;
}
.call {
  list-style: none;
  display: flex;
}
/* конец общей верхней части */
/* главная */
.main__hi {
  height: 600px;
  left: 0px;

  background: #2f303a;
}
.hi__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hi__button {
  width: 200px;
  font-family: Roboto;
  height: 50px;
  font-size: 20px;
  background: #2196f3;
  border: 0;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
}
.content__what_title {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.content__adv_item-title-text {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
  color: #212121;
  margin-bottom: 10px;
  margin-top: 94px;
  text-transform: uppercase;
  white-space: nowrap;
}

.content__adv_item-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;
}
.main__content {
  text-decoration: none;
}

.content__what_imgs {
  list-style: none;
}

.workspake {
  background-color: #f5f4fa;
}
.items-2 {
  list-style: none;
}

.team {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.peoples {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: #212121;
}
.peoples-2 {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  font-weight: 400;

  color: #757575;
}
/* Главная конец */

.button {
  border: none;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  white-space: nowrap;
}
.button:hover {
  color: #ffffff;
  background-color: #2196f3;
}
.items {
  list-style: none;
}
.bot-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  color: #212121;
}
.bot-pre-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;
}

.bot {
  width: 370px;
  height: 294px;
  left: 215px;
  top: 262px;
}

/* Футер для всех */
.end {
  background-color: #2f303a;
}
.webstydia_2 {
  text-decoration: none;
  cursor: pointer;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.adress {
  width: 231px;
  height: 21px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.shit-2 {
  color: #ffffff;
}

.mail_2 {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.telefon_2 {
  width: 231px;
  height: 21px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.call-2 {
  list-style: none;
}
